.txt-sldd .makeStyles-root-1
{
max-width: 100% !important;
height:  100% !important;
background-color: #FAFAFA !important;
}
.jss1 {
  max-width: 100% !important;
  background-color: #FAFAFA;
}

.txt-sldd .MuiTypography-root {
  max-width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  font-family: lora !important;
    font-size: 26px !important;
    font-style: italic !important;
    padding-top: 4rem !important;
    display: none !important;
}
.txt-sldd .makeStyles-header-2
{
  height:100% !important;
}
.style-txt
{
  background-color: #FAFAFA !important;
  text-align: center !important;
  font-weight: 700 !important;
  font-family: 'Montserrat' !important;
  font-size: 27px !important;
  font-family:  'Montserrat', sans-serif !important;
  
}
.style-txt2{
  background-color: #FAFAFA !important;
  text-align: center !important;
  font-family: Open Sans !important;
    line-height: 1.6 !important;
    font-size: 18px !important;
    color: #000000 !important;
    font-weight: 300 !important;
}
.txt-sldd #text{
  display: none !important;
  
}
.txt-sldd .MuiMobileStepper-root {
justify-content: center !important;
}
.lab-style
{
  background-color: #FAFAFA !important;
  max-width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  font-family: 'Lora', serif !important;
  font-size: 30px !important;
    font-style: italic !important;
    padding-top: 2.5rem !important;
    text-align: center !important;
}
